/* universal selector */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
}

/* Body */
body {
    background-color: #000;
    color: #fff;
}

/* Navigation section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    position: fixed;
    width: 100%;
}
/* Name Portfolio */
.Portfolio {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffba3a;
}

.nav-section {
    list-style: none;
    display: flex;
}

.nav-section li {
    margin: 0 15px;
}

.nav-section a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-section a:hover {
    color: #f1c40f;
}
/* Hero Section */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 5 20%;
}

.hero-content h1 {
    font-size: 3rem;
}

.buttons {
    margin-top: 22px;
}
/* button */

.btn {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1rem;
}

.LinkedIn {
    background: #ffffff;
    color: #000;
}

.LinkedIn:hover {
    background: #fbaa27;
}

.Works_btn {
    border: 2px solid #fff;
    color: #fff;
}

.Works_btn:hover {
    background: #fff;
    color: #000;
}